.testimonials {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, #f9fafa 0%, #f9fafa 60%, #fff 60%, #fff 100%);
    overflow-x: hidden;
}

.testimonials-area {
    width: 100%;
    display: flex;
    margin: 0 auto;
    transition: all 2s ease;
}

.swiper {
    max-width: 1200px;
    position: relative;
}

.testimonials-card {
    background-color: var(--secondary);
    max-height: 450px;
    min-width: 1200px;
    margin: 0 auto;
}

#card-pedro {
    display: flex;
}

#card-herick {
    display: flex;
}

.testimonials-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 55px 0 40px 55px;
    gap: 65px;
}

.testimonials-text p {
    font-family: "Archivo", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 48px;
    color: var(--black);
}

.testimonials-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.testimonials-info h4 {
    font-family: "Archivo", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 26px;
    color: var(--primary);
}

.testimonials-info h5 {
    color: var(--primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.testimonals-bttns {
    display: flex;
    gap: 24px;
    position: absolute;
    right: 90px;
    bottom: 60px;
    z-index: 1;
}
.swiper-button-next {
    rotate: 180deg;
    --swiper-navigation-color: transparent;
}

.swiper-button-prev {
    --swiper-navigation-color: transparent;
}

.testimonals-bttn-left,
.testimonals-bttn-right {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--primary);
    cursor: pointer;
}

.swiper-button-next img {
    margin-left: 20px;
}

.swiper-button-prev img {
    margin-left: 20px;
}

.testimonals-bttn-left.desactivated {
    background-color: #001eff1f;
    cursor: default;
}

.testimonals-bttn-right.desactivated {
    background-color: #001eff1f;
    cursor: default;
}

.sponsors {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors h3 {
    padding: 80px 0 60px 0;
    font-family: "Archivo", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--black);
}

.sponsors .brands {
    margin-bottom: 120px;
    display: flex;
    gap: 95px;
}
