section {
    display: flex;
    background-color: #fcfcfd;
}
.services {
    margin: 0 auto;
    width: 100%;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.25rem;
}

.services-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 4.688rem;
}

.services-header h2 {
    max-width: 25rem;
    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 1.625rem;
    line-height: 2.188rem;
}

.services-header p {
    max-width: 25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.services-cards {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 23.813rem;
    padding: 1.563rem;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
}

.services-img-area {
    background-color: var(--primary);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-img-area img {
    width: 1.5rem;
    height: 1.5rem;
}

.services-card h3 {
    padding-top: 1rem;
    font-family: "Archivo", sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.688rem;
    color: var(--black);
}

.services-card p {
    font-family: "Inter", sans-serif;
    padding-top: 1rem;
    font-weight: 400;
    font-size: 0.97rem;
    line-height: 1.5rem;
    color: var(--dark-grey);
}

.services-bttn {
    cursor: pointer;
    color: var(--primary);
    width: 9.125rem;
    height: 3rem;
    background-color: #ebf2ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.875rem;
}
